html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-size: 0;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

:root {
  --slider-width: 10px;
}

#editor {
  display: inline-block;
  width: calc(50% - var(--slider-width) / 2);
  height: 100%;
  padding: 5px;
  outline: none;
  resize: none;
  border: 2px solid gray;
  font-size: 1rem;
}

#preview {
  display: inline-block;
  width: calc(50% - var(--slider-width) / 2);
  height: 100%;
  padding: 5px;
  border: 2px solid gray;
  border-left: 0px;
  overflow: auto;
  font-size: 1rem;
}

#slider {
  display: inline-block;
  width: var(--slider-width);
  height: 100%;
  background-color: #557582;
}

#preview img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (orientation: portrait) {
  #editor, #preview, #slider {
    display: block;
    width: 100%;
    height: calc(50% - var(--slider-width) / 2);
  }
  #preview {
    border-left: 2px solid gray;
    border-top: 0;
  }
  #slider {
    height: var(--slider-width);
  }
}

@media (orientation: portrait) and (max-width: 730px) {
  html {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (max-width: 1450px) {
  html {
    font-size: 12px;
  }
}
