html, body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 16px;
}

body {
  font-size: 0;
}

* {
  box-sizing: border-box;
}

#editor {
  display: inline-block;
  width: 50%;
  height: 100%;
  outline: none;
  resize: none;
  border: 2px solid gray;
  font-size: 1rem;
}

#preview {
  display: inline-block;
  width: 50%;
  height: 100%;
  border: 2px solid gray;
  border-left: 0px;
  overflow: auto;
  font-size: 1rem;
}

#preview img {
  display: block;
  max-width: 100%;
  height: auto;
}
