html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-size: 0;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

:root {
  --slider-width: 15px;
  --editor-width: 50%;
  --preview-width: 50%;
  --slider-height: 100%;
  --editor-height: 100%;
  --preview-height: 100%;
}

#editor {
  display: inline-block;
  width: calc(var(--editor-width));
  height: var(--editor-height);
  padding: 5px;
  outline: none;
  resize: none;
  border: 2px solid gray;
  font-size: 1rem;
}

#preview {
  display: inline-block;
  width: calc(100% - var(--editor-width) - var(--slider-width));
  height: var(--preview-height);
  padding: 5px;
  border: 2px solid gray;
  border-left: 0px;
  overflow: auto;
  font-size: 1rem;
}

#slider {
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
  background-color: #557582;
}

#slider:hover {
  cursor: ew-resize;
}

#preview img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (orientation: portrait) {
  :root {
    --slider-width: 100%;
    --editor-width: 100%;
    --preview-width: 100%;
    --slider-height: 15px;
    --editor-height: 50%;
    --preview-height: 50%;
  }

  #editor, #preview, #slider {
    display: block;
  }
  #editor {
    width: var(--editor-width);
    height: calc(var(--editor-height));
  }
  #preview {
    width: var(--preview-width);
    height: calc(100% - var(--editor-height) - var(--slider-height));
    border-left: 2px solid gray;
    border-top: 0;
  }
  #slider {
    width: var(--slider-width);
    height: var(--slider-height);
  }
}

@media (orientation: portrait) and (max-width: 730px) {
  html {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (max-width: 1450px) {
  html {
    font-size: 12px;
  }
}
